@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE HTML>
<html>
	<head>
		<title>
			@{
				string head = "";
				try
				{
					 head = " | " + Model.title + " - " + Model.artist;
				}catch(Exception)
				{
				}
			}
			Aoba @head
		</title>
		<link rel="icon" href="/res/img/Aoba.ico"/>
		<link rel="shortcut-icon" href="/res/img/Aoba.ico"/>
		<link rel="stylesheet" href="/res/css/main.css"/>
		<link rel="stylesheet" href="/res/css/window.css"/>
		<link rel="stylesheet" href="/res/css/audioPlayer.css"/>
		<script src="/res/js/jquery-3.1.1.min.js"></script>
		<script src="/res/js/aurora.js" type="text/javascript"></script>
		<script src="/res/js/flac.js" type="text/javascript"></script>
		<script src="/res/js/mp3.js" type="text/javascript"></script>
		<script src="/res/js/aac.js" type="text/javascript"></script>
		<script src="/res/js/alac.js" type="text/javascript"></script>
		<script src="/res/js/audioPlayer.js" type="text/javascript"></script>
		<script src="/res/js/circle-progress.min.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="windowWrapper">
			<div id="background"></div>
			<div id="window">
				<div id="player" data-uri="@Model.rawUri">
					<div id="art">
						<div id="playPause" style="background:url(/res/img/PlayButton.png)"></div>
					</div>
					<div id="loadProgress"></div>
					<div id="info">
						@{
							string t, a, al;
							t = a = al = "";
							try
							{
								t = @Model.title;
								a = @Model.artist;
								al = @Model.album;
							}catch(Exception)
							{
							}
						}
						<div id="title">@t</div>
						<div id="artist">@a</div>
						<div id="album">@al</div>
					</div>
					<div id="controls">
						<div id="seek">
							<div id="time">0:00</div>
							<div id="progressBar">
								<div id="progressBarFill"></div>
							</div>
							<div id="timeRemaining">0:00</div>
						</div>
						<div id="volume">
							<div id="mute"></div>
							<div id="volumeSlider">
								<div id="volumeFill"></div>
							</div>
							<div id="volumeValue">80%</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
